body {
    width: 100%;
    
    font-size: 12px;
}





header {
    top: 0;
    background-color: grey;
    width: 100%;
    
    
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

.buttonContainer > div {
   color: white;
   font-size: 25px;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 2%;
}

.buttonContainer {
   display: flex;
   justify-content: center;
}

p {
    font-size: 20px;
}

span {
    font-style: italic;
}

.main {
    text-align: center;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

img {
    border-radius: 15px;
}

.menu {
    text-align: center;
}

.menuContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menuItem { 
    background-color: bisque;
    height: 400px;
    width: 320px;
    border-radius: 10px;
    padding: 5px;
}

.menuPictures {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    width: 300px;
}

.mapPicture {
    height: 300px;
    width: 400px;
}

.contact {
    text-align: center;
}
